In [99]:
import pandas as pd
import numpy as np

In [100]:
titanic = pd.read_csv(r'C:\Users\compaq\Downloads\titanic_train.csv')

In [101]:
titanic.shape
del titanic['PassengerId']
titanic.shape
titanic.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [102]:
x = titanic.iloc[:,1:]
y = titanic.iloc[:,0]
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [103]:
from sklearn import model_selection as ms

x_train,x_test,y_train,y_test = ms.train_test_split(x,y)

print(type(x_train))
print(type(y_train))
print(type(y_test))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [104]:
x_y_train = x_train.copy()
x_y_train['Survived'] = y_train

print(x_y_train.shape)
print(x_test.shape)
print(y_train.shape)

x_y_train.to_csv(r"C:\Users\compaq\Desktop\nikhil's material\[CN] Machine Learning\18. Random Forests\datasets of titanic\titanic_x_y_train.csv", index=False)
x_train.to_csv(r"C:\Users\compaq\Desktop\nikhil's material\[CN] Machine Learning\18. Random Forests\datasets of titanic\titanic_x_train.csv", index=False)
y_train.to_csv(r"C:\Users\compaq\Desktop\nikhil's material\[CN] Machine Learning\18. Random Forests\datasets of titanic\titanic_y_train.csv", index=False)
x_test.to_csv(r"C:\Users\compaq\Desktop\nikhil's material\[CN] Machine Learning\18. Random Forests\datasets of titanic\titanic_x_test.csv", index=False)
y_test.to_csv(r"C:\Users\compaq\Desktop\nikhil's material\[CN] Machine Learning\18. Random Forests\datasets of titanic\titanic_y_test.csv", index=False)

(668, 11)
(223, 10)
(668,)

In [105]:
x_y_train_l = pd.read_csv(r"C:\Users\compaq\Desktop\nikhil's material\[CN] Machine Learning\18. Random Forests\datasets of titanic\titanic_x_y_train.csv", delimiter=',')
x_test_l = pd.read_csv(r"C:\Users\compaq\Desktop\nikhil's material\[CN] Machine Learning\18. Random Forests\datasets of titanic\titanic_x_test.csv", delimiter=',')

### Data Cleaning in Training and Testing Data

In [106]:
print(x_y_train_l.shape)
x_y_train_l.isnull().sum()

#X_Y_train_l.head()

(668, 11)

Pclass        0
Name          0
Sex           0
Age         131
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       519
Embarked      2
Survived      0
dtype: int64

In [107]:
del x_y_train_l["Name"]
del x_y_train_l["Ticket"]
del x_y_train_l["Cabin"]
del x_y_train_l["Fare"]

del x_test_l["Name"]
del x_test_l["Ticket"]
del x_test_l["Fare"]
del x_test_l["Cabin"]

In [108]:
print(x_y_train_l.isnull().sum())
print(x_y_train_l.shape)
#X_Y_train_l.dropna(inplace=True)
x_y_train_l = x_y_train_l.fillna(x_train_l.median())
print(x_y_train_l.isnull().sum())
x_y_train_l.shape

Pclass        0
Sex           0
Age         131
SibSp         0
Parch         0
Embarked      2
Survived      0
dtype: int64
(668, 7)
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Embarked    0
Survived    0
dtype: int64

(668, 7)

In [109]:
x_y_train_l.dropna(inplace=True)
print(x_y_train_l.isnull().sum())
x_y_train_l.shape

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Embarked    0
Survived    0
dtype: int64

(668, 7)

In [110]:
x_train_l = x_y_train_l.iloc[:,:-1]
print(x_train_l.shape)
y_train_l = x_y_train_l.iloc[:,-1]
print(y_train_l.shape)
print(y_train_l)

(668, 6)
(668,)
0      1
1      0
2      0
3      1
4      1
      ..
663    0
664    1
665    0
666    0
667    1
Name: Survived, Length: 668, dtype: int64

In [111]:
def getNumber(str):
    if str=="male":
        return 1
    else:
        return 0
x_train_l['gender']=x_train_l["Sex"].apply(getNumber)
del x_train_l["Sex"]
x_train_l.head()

x_test_l['gender']=x_test_l["Sex"].apply(getNumber)
print(x_test_l)
del x_test_l["Sex"]
x_test_l.head()

     Pclass     Sex    Age  SibSp  Parch Embarked  gender
0         3    male   3.00      1      1        S       1
1         3    male  21.00      0      0        S       1
2         3    male    NaN      0      0        Q       1
3         3    male  34.00      0      0        S       1
4         3    male  20.00      1      0        S       1
..      ...     ...    ...    ...    ...      ...     ...
218       3  female   9.00      1      1        C       0
219       3    male  23.00      0      0        S       1
220       3    male  35.00      0      0        S       1
221       3  female   0.75      2      1        C       0
222       1    male  65.00      0      1        C       1

[223 rows x 7 columns]

   Pclass   Age  SibSp  Parch Embarked  gender
0       3   3.0      1      1        S       1
1       3  21.0      0      0        S       1
2       3   NaN      0      0        Q       1
3       3  34.0      0      0        S       1
4       3  20.0      1      0        S       1

In [112]:
def getNumberEmbarked(str):
    if str=='C':
        return 1
    elif str=='Q':
        return 2
    else:
        return 3
x_train_l['Embarked']=x_train_l["Embarked"].apply(getNumberEmbarked)
print(x_train_l)

x_test_l['Embarked']=x_test_l["Embarked"].apply(getNumberEmbarked)
print(x_test_l)

     Pclass    Age  SibSp  Parch  Embarked  gender
0         2  24.00      0      0         3       0
1         3  18.00      0      0         3       1
2         1  37.00      1      0         3       1
3         2   0.83      1      1         3       1
4         3  22.00      0      0         3       0
..      ...    ...    ...    ...       ...     ...
663       3  23.00      0      0         3       1
664       2  30.00      0      0         2       0
665       3  40.00      1      1         2       1
666       3  51.00      0      0         3       1
667       1  45.00      1      1         3       0

[668 rows x 6 columns]
     Pclass    Age  SibSp  Parch  Embarked  gender
0         3   3.00      1      1         3       1
1         3  21.00      0      0         3       1
2         3    NaN      0      0         2       1
3         3  34.00      0      0         3       1
4         3  20.00      1      0         3       1
..      ...    ...    ...    ...       ...     ...
218       3   9.00      1      1         1       0
219       3  23.00      0      0         3       1
220       3  35.00      0      0         3       1
221       3   0.75      2      1         1       0
222       1  65.00      0      1         1       1

[223 rows x 6 columns]

In [113]:
print(x_test_l.isnull().sum())
x_test_l = x_test_l.fillna(x_test_l.median())
x_test_l.isnull().sum()

Pclass       0
Age         46
SibSp        0
Parch        0
Embarked     0
gender       0
dtype: int64

Pclass      0
Age         0
SibSp       0
Parch       0
Embarked    0
gender      0
dtype: int64

### Caliling Classifier For Random Forest

In [119]:
from sklearn.ensemble import RandomForestClassifier

### Fitting,Prediction,Score

In [120]:
clf = RandomForestClassifier(max_depth = 6)
clf.fit(x_train_l,y_train_l)
print("TRAIN Score:",clf.score(x_train_l,y_train_l))
print("TEST Score:",clf.score(x_test_l,y_test))

TRAIN Score: 0.8622754491017964
TEST Score: 0.820627802690583

## Random Forest vs Decision Tree

In [121]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf.fit(x_train_l, y_train_l)
y_pred_l = clf.predict(x_test_l)
print("TRAIN Score:",clf.score(x_train_l,y_train_l))
print("TEST Score:",clf.score(x_test_l,y_test))

TRAIN Score: 0.9326347305389222
TEST Score: 0.7892376681614349